@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@900&display=swap');
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color:white; 
}

.logo{
    width: 50%;
    align-self: center;
}
.form-div  {
    display: flex;
    flex-direction: column;
    padding: 50px 40px;
    background-color: transparent;
    border: 3px outset rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 5px 10px 5px 10px aliceblue;
}
.form-login {
    display:inline-flex;
    flex-direction: column;
    padding: 40px;
}
.form-signup {
    display:inline-flex;
    flex-direction: column;
    padding: 40px;
}
footer {
    color: aliceblue;
}

.footer-signup {
    color: aliceblue;
    margin-top: 50px;
}

.header {
    text-align: center;
    margin: 5px;
    font-family: 'Jost', sans-serif;
    font-size: 50px;
    color: rgb(0, 0, 0);
}
.user-input {
    margin:10px 0px;
    height:30px;
    
}
.user-input-signup {
    margin:10px 0px;
    height:30px;    
}
.label {
    font-family: 'Poppins', sans-serif;
}
.label-signup {
    font-family: 'Poppins', sans-serif;
}
footer {
    font-family: 'Poppins', sans-serif;
}